
@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";

@import "_partials/fonts";

a{
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
canvas, video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
/*star black color*/
.dd-select{  border: solid 1px #fff;  background: #fff;  }
.registration-block form button{
  color: #A37C52;
  border-radius: 15px;
  border:1px solid #A37C52;
}
.form-group label{color:#666;}
.social-btn-block button{background:#333333;}
.btn-style{
  color: #fff;}
.content-item-info a{color:#333333}
.modal.feedback .modal-body button{
  border-radius: 15px;
  border:1px solid #A37C52;
  color: #A37C52;
}
.btn-style.close_modal{background:#333333;}
/*end black color*/

.submit-button
{font-family: OpenSans,sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  border: none;
  height: 29px;
  min-width: 222px;
  cursor: pointer;}
.form-group input[type='checkbox'] {
  height: 17px;
  padding-left: 15px;}
.btn-style.close_modal{
  outline: 0;
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 14px;
  min-width: 222px;
  border: none;
  height: 29px;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  z-index: 10;
}


*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}
body{
  font-family: "Roboto", sans-serif;
  line-height:1.2;
  color: #333;
  min-height: 100%;
}
a{
  text-decoration: none;
}
.form_item{
  .user-name{width:100%}
}
.form_item{
  label{
    display: block;
    font-weight:500;
    margin: 10px 0;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E5E5E5;
    height:41px;
    padding-left:18px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:42px;
    padding-left:18px;
    outline: none;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}
.content-block-wrap{
  position: relative;
  min-height: 100vh;
  padding-bottom: 28px;
  position: relative;
}
.content-container{
  width:1110px;
  margin:0 auto;
  header{
    text-align: center;
    padding:50px 0 35px;

    .logo{
      width:320px;
      display: block;
      margin:0 auto;
      text-align: center;
      font-size:40px;
      color: #fff;
      flex-shrink: 0;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'BebasNeueRegular';
      img{
        max-width:100%;
      }
    }
    p.title{
      color: #fff;
      font-size:44px;
      margin:12px auto;
      text-align: center;
      font-family: 'BebasNeueBold';
      span{
        display: block;
        font-family: 'BebasNeueRegular';
      }
    }
  }
}
.content-block{
  display: flex;
  justify-content: center;
  position: relative;
  margin:0 -11px;
  padding-bottom:20px;
}
.language_select{
  position: absolute;
  top:12px;
  right:15px;
  z-index:10;
  .dd-options {
    padding-top: 20px;
    top: 17px;
    z-index: 5;
  }
  .dd-select{
    border-radius:0;
    height: 35px;
    z-index: 10;
  }
  .dd-selected{
    padding:0 5px;
  }
  .dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #333;
  }
  .dd-selected-text{
    color: #333;
    font-size: 13px;
  }
  .dd-option-image, .dd-selected-image{
    margin-top: 4px;
  }
  .dd-pointer-up {
    border-bottom: solid 5px #fff !important;
  }
  .dd-option-text{
    line-height: 20px;
    font-size: 13px;
  }
  .dd-option{
    max-height:35px;
    padding:0 5px 5px;
  }
}

.btn-style{
  border-radius: 15px;
  font-size:14px;
  min-width: 222px;
  height:29px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.content-block-column{
  margin: 0 11px;
  flex-shrink: 0;
}
.column-big{
  width:50%;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column-registration{
  max-width: 360px;
  margin-top:0px;
}

.registration-block{
  background: #fff;
  text-align: center;
  position: relative;
  padding-bottom:30px;
  box-shadow: 0 0 70px 0 rgba(0,0,0, .25) ;
  p.info{
    margin: 15px 0;
    font-size: 12px;
    color: grey;
    font-family: Roboto;
    padding: 0 50px;
    text-align: left;
    a{
      color: #333;
      font-weight:bold;
    }
  }
  .label-or{
    position: relative;
    z-index:5;
    font-size:12px;
    color: #808080;
    margin: 16px 0;
    text-align: center;
    span{
      padding:0 12px;
      background: #fff;
    }
    &:before{
      content: '';
      display: block;
      width:100%;
      height:1px;
      background: #E3E3E3;
      position: absolute;
      top:49%;
      left:0;
      z-index:-1;
    }
  }
  p.title{
    font-size:17px;
    font-weight:bold;
    text-align: left;
    color: #A37C52;
  }
  form{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 0 50px;
    button{
      display: block;
      margin: 11px 0;
      width:100%;
    }
    p.title{
      padding:0;
    }
  }
  .condition_link{
    font-size:12px;
    color: #808080;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 15px 0;
  }
}

.registration-block-header{
  background: #333;
  padding: 20px 0;
  p.title{
    color: #fff;
    text-align: left;
    font-size:16px;
    padding: 0  50px;
  }
}
.social-login{
  padding: 0 50px;

  .btn-style{
    width: 100%;
    height: 31px;
    display: block;
    margin: 0 auto 5px;
    font-family: OpenSans,sans-serif;
    font-weight: 400;
    position: relative;
    line-height: 31px;
    text-align: left;
    padding-left: 70px;
    i{
      position: absolute;
      left: 40px;
      top: 9px;
    }
  }
  .btn-facebook{
    background: #39579B;
  }
  .btn-twitter{
    background: #51AAF2;  }
  .btn-gplus{
    background: #DF4A33;
    margin-bottom: 0;  }
}
.form-group{
  margin-bottom:1px;
  label{
    display: block;
    font-weight:500;
    margin: 11px 0 7px;
    font-size:14px;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E4E4E4;
    height:32px;
    padding-left:18px;
    border-radius: 0;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:32px;
    padding-left:18px;
    outline: none;
    border-radius: 0;
  }
  select{
    background: url("http://static.iperawifi.com/themes/template1/img/arrow.jpg") 90% center no-repeat;
    background-position-x: calc(100% - 13px);
  }
  select::-ms-expand{ display:none; }
  .country-code-list{
    width:70px;
    margin-right:7px;
    display: inline-block;
    padding-left:10px;
  }
  input[name=phone]{
    width:144px;
    display: inline-block;
    flex-grow:1;
  }

  input[name=gender]{
    width:222px;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.social-btn-block{
  width: 142px;
  flex-shrink: 0;
  p{
    font-weight:500;
    text-align: center;
    position: relative;
    margin-bottom:10px;
    color: #fff;
    font-size:14px;
  }
  .social-btn{
    text-align: center;
    a{
      color: #fff;
      font-size:20px;
      display: inline-block;
      margin: 5px 3px;
      width: 30px;
    }
  }
  button{
    margin:10px auto 0;
    display: block;
    color: transparent;
    //&.trip_advisor{
    //  background: url(../img/tripadvisor_logo.jpg)no-repeat center -2px #599442;
    //  background-size:contain;
    //}
    //&.zomato{
    //  background: url(../img/zomato_logo.jpg)no-repeat center #CB202D;
    //  background-size:contain;
    //}
  }
}
.unique-design {
  display: flex;
  flex-wrap: wrap;
  input{
    width: 50%;
    flex-grow: 1;
  }
  label {
    width: 100%;
  }
}
.content-block-item{
  display: inline-flex;
  align-items: center;
  background: rgba(255,255,255,.1);
  position: relative;
  padding-left:230px;
  height:190px;
  font-size: 97px;
  font-family: 'BebasNeueBold';
  color: #fff;
  &:hover{
    color: #fff;
    text-decoration: none;
    background: rgba(255,255,255,.3);
  }
  img{
    position: absolute;
    top:50%;
    left: 55px;
    transform: translateY(-50%);
    max-width: 100px;
  }
}







.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &.conditions{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 45px;
      text-align: center;
      strong{
        font-family: 'BodoniBold';
        font-size:30px;
        margin-bottom:20px;
        display: block;
        color: #A27C52;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.feedback{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 50px;
      text-align: center;
    .form_item label {
      color: #A37C52;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      font-family: Roboto, sans-serif;

    }
      button {
        margin: 15px auto 0;
        display: block;
      }
      textarea{
        width:100%;
        height:95px;
        border: 1px solid #E5E5E5;
        padding: 18px;
        outline: 0;
        font-family:Roboto, sans-serif;
        font-size: 12px;
        resize: none;
      }
      input{
        font-family:Roboto, sans-serif;
        font-size: 12px;
      }
      .form_item_wrap{
        display: flex;
        .form_item{
          flex-grow: 1;
          font-size: 12px;
          font-family:Roboto, sans-serif;
          &:first-child{
            margin-right: 20px;
          }
        }
      }
      strong{
        font-size:30px;
        margin-bottom:20px;
        color: #A37C52;
        display: block;
        font-weight:500;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.succsess_feedback{
    font-weight:500;
    font-size: 30px;
    color: #A37C52;
    .modal-content{
      padding:45px;
      width:100%;
      max-width: 670px;
      text-align: center;
    }

  }
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.after-registration{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  background: #fff;
  z-index:10;
  flex-direction: column;
  justify-content: center;
  display: none;
  p.title{
    text-align: center;
    margin-bottom:30px;
    font-size:30px;
  }
  p.info{
    color: #333;
    margin-bottom:20px;
    font-size:13px;
    text-align: center;
    padding: 0 60px;
  }
  .btn_feedback{
    max-width: 250px;
    margin: 0 auto 60px;
    text-transform: capitalize;
    color: #A37C52;
    border-radius: 15px;
    border: 1px solid #A37C52;
  }
}

.follow-us-block{
  button{
    padding-left: 45px;
    text-align: left;
    position: relative;
    margin-bottom:10px;
    i{
      position: absolute;
      top: 7px;
      left: 23px;
    }
    &.facebook{
      background: linear-gradient(to right, rgba(57,88,154,1) 0%, rgba(0,114,185,1) 100%);
    }
    &.twitter{
      background: linear-gradient(to right, rgba(81,169,241,1) 0%, rgba(81,206,241,1) 100%);
    }
    &.instagram{
      background: linear-gradient(to right, rgba(46,49,143,1) 0%, rgba(237,122,64,1) 100%);
    }
    &.pinterest{
      background: #DE4A33;
    }
  }
}
button.close_modal{
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  z-index:10;
}



@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 1200px){
  .content-container{
    padding-top:10px;
  }


  .column-registration{
    width:320px;
  }
  .content-container{
    width: 910px;
  }

}

@media screen and (max-width: 992px){

  .content-container{
    width: 730px;
  }
  .content-block{
    flex-wrap: wrap;
  }
  .content-block-column{
    margin-top: 0;
  }
  .column-registration {
    width: 320px;
  }
  .content-block-item{
    padding-left: 130px;
    font-size:60px;
    img{
      left: 25px;
      max-width: 75px;
    }
  }
}
@media screen and (max-width: 767px){


  .content-container{
    width:100%;
    padding: 0 10px;

  }
  .content-block{
    margin:0;
  }
  .column-registration{
    margin-bottom:24px;
    width:100%;
    max-width: 380px;
    order: 1;
  }
  .column-big{
    flex-direction: row;
    justify-content: center;
  }
  .content-block-item{
    padding-left: 0;
    font-size:16px;
    width: 80px;
    padding-top: 80px;
    height:auto;
    justify-content: center;
    background: none;
    margin: 0 15px 50px;
    img{
      width:70px;
      left:50%;
      top:0;
      transform: translateX(-50%);
    }
  }
}
@media screen and (max-width:550px ){
  .modal.feedback .modal-body{
    padding: 25px;
    .form_item_wrap{
      flex-wrap: wrap;
      .form_item:first-child {
        margin-right: 0;
      }
    }
  }
  .content-container{
    header{
      .logo{
        font-size: 32px;
      }
      p.title{
        text-align: center;
        padding:0;
        font-size:32px;
      }
    }
  }

  .content-container{
    overflow: hidden;
    padding: 0 10px;
  }



  .registration-block form, .social-login, .registration-block p.info{
    padding: 0 30px;
  }

}
.powered-by{
  text-align: center;
  display: block;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding:3px 0;
  font-size:10px;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  &:hover{
    text-decoration: none;
    color: #000;
  }
  img{
    margin-left:5px;
    height:22px;
    vertical-align: middle;
  }
}

@import "_partials/_color_style.css";